.control {
  display: flex;
  justify-content:space-between ;
  align-items: center;
  background-color: rgb(229, 212, 192);
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}


.control > div >div {
  padding: 0.2rem;
  height: 10rem;
}